@page
@model WebDevProject.Pages.creatorbeheer

@{
    Layout = "Shared/_Layout";
}
@if (TempData["AlertMessage"]==null)
{
}
else if (TempData["AlertMessage"]=="Creator Deleted successfully...")
{
    <div class="alert alert-danger">
        <strong>Success !</strong>@TempData["AlertMessage"]
    </div>
}
else if (TempData["AlertMessage"]=="Creator Added successfully...")
{
    <div class="alert alert-success">
        <strong>Success !</strong>@TempData["AlertMessage"]
    </div>
}
else if (TempData["AlertMessage"] == "Creator Updated successfully...")
{
    <div class="alert alert-info">
        <strong>Success !</strong>@TempData["AlertMessage"]
    </div>
}

<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Creators</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update creator</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.creators)
                {
                    <tr>
                        <td>@item.creator_naam</td>
                        <form method="post">
                            <td><button asp-page-handler="delete" class="btn btn-danger">Delete</button></td>
                            <input type="hidden" name="hiddenCreator" value="@item.creatorId"/>
                             <td> <input type="text" name="creator" value="@item.creator_naam" placeholder="Update creator"/></td>
                            <td><button asp-page-handler="update" class="btn btn-primary">Update</button></td>
                        </form>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div class="col">
            <form method="post" class="d-inline mt-10" asp-page-handler="add">
                <h1>Creator toevoegen</h1>
                <input type="text" asp-for="creator" placeholder="Enter a Creator" required="required"/>
                <button type="submit" name="add" class="btn btn-primary">Add uitgever</button>
            </form>
            <div class="row pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda dolores dolorum eius, eos eum itaque iure maiores maxime officia quaerat quas quod quos similique, soluta totam ut veritatis, voluptatem.</div> 
        </div>
    </div>
</div>