@page
@model WebDevProject.Pages.genrebeheer

@{
    Layout = "Shared/_Layout";
}
@if (TempData["AlertMessage"]==null)
{
}
else if (TempData["AlertMessage"]=="Genre Deleted successfully...")
{
    <div class="alert alert-danger">
        <strong>Success !</strong>@TempData["AlertMessage"]
    </div>
}
else if (TempData["AlertMessage"]=="Genre Added successfully...")
{
    <div class="alert alert-success">
        <strong>Success !</strong>@TempData["AlertMessage"]
    </div>
}
else if (TempData["AlertMessage"] == "Genre Updated successfully...")
{
    <div class="alert alert-info">
        <strong>Success !</strong>@TempData["AlertMessage"]
    </div>
}
<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Genre</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update Genre</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.genres)
                {
                    <tr>
                        <td>@item.genre</td>
                        <form method="post">
                            
                            <td><button asp-page-handler="delete" class="btn btn-danger">Delete</button></td>
                            <input type="hidden" name="hiddenGenre" value="@item.genreId"/>
                            <td> <input type="text" name="genre" value="@item.genre" placeholder="Update Genre"/></td>
                            <td><button asp-page-handler="update" class="btn btn-primary">Update</button></td>
                        </form>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div class="col">
            <form method="post" class="d-inline mt-10" asp-page-handler="add">
                <h1>Enter a genre here</h1>
                <input type="text" name="genre" asp-for="genre" placeholder="Enter a Genre" required="required"/>
                <button type="submit" name="add" class="btn btn-primary">Add Genre</button>
            </form>
            <div class="row pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda dolores dolorum eius, eos eum itaque iure maiores maxime officia quaerat quas quod quos similique, soluta totam ut veritatis, voluptatem.</div> 
        </div>
    </div>
</div>