@page
@using WebDevProject.Models
@model WebDevProject.Pages.Collectie.Index

<head>
    <title>Mijn Collectie</title>
</head>
<body>
<div>
    <h1>Collectie van @Model.Gebruiker.gebruikersnaam</h1>
</div>
<div class="row d-flex justify-content-around">
    <a class="btn btn-primary mb-3" asp-page="@nameof(Toevoegen)">Druk toevoegen</a>
    @foreach (string serie in @Model.series)
    {
        <h2 class="mb-3">@serie</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Druknummer</th>
                <th>Staat</th>
                <th>Huidige waarde</th>
                <th>Aankoopwaarde</th>
                <th>Aankoop locatie</th>
                <th>Beoordeling</th>
                <th>Opslaglocatie</th>
                <th>Aanpassen</th>
                <th>Verwijderen</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var item2 in Model.WordtOpgeslagenInCollectieVanModels)
                {
                    if (item2.DrukModel.StripboekModel.SerieModel.serieTitel == serie)
                    {
                        <tr>
                            <td>@item2.DrukModel.StripboekModel.stripboektitel</td>
                            <td>@item2.DrukModel.druknummer</td>
                            <td>@item2.staat</td>
                            <td>@item2.DrukModel.waarde</td>
                            <td>@item2.aankoop_waarde</td>
                            <td>@item2.aankoop_locatie</td>
                            <td>@item2.beoordeling</td>
                            <td>@item2.opslag_locatie</td>
                            <td>
                                <a class="btn" asp-page="@nameof(Aanpassen)"
                                   asp-route-gebruikerId="@Model.Gebruiker.GebruikerId"
                                   asp-route-drukId="@item2.druk_id">
                                    Aanpassen
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-page="@nameof(Verwijderen)"
                                   asp-route-gebruikerId="@Model.Gebruiker.GebruikerId"
                                   asp-route-drukId="@item2.druk_id">
                                    Verwijder
                                </a>
                            </td>

                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    }
    @foreach (var item in @Model.WordtOpgeslagenInCollectieVanModels)
    {
        <div class="card col-3 mb-3" style="width: 18rem;">
            <img src="https://us.123rf.com/450wm/piotrurakau/piotrurakau1707/piotrurakau170700026/82024829-de-grappige-achtergrond-van-de-boekpagina-met-lege-kleurrijke-toespraakbellen-in-pop-artstijl-strale.jpg?ver=6" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> @item.DrukModel.StripboekModel.stripboektitel </h5>
                <p class="card-text">
                <ul>
                    <li>druknummer: @item.DrukModel.druknummer</li>
                    <li>druk datum: @item.DrukModel.druk_datum</li>
                    <li>oplage: @item.DrukModel.oplage</li>
                    <li>volgnummer: @item.DrukModel.StripboekModel.volgnummer</li>
                    <li>Genre: @item.DrukModel.StripboekModel.GenreModel.genre</li>
                </ul>


                <a class="btn btn-primary" asp-page="@nameof(Stripboek)" asp-route-stripboekId="@item.DrukModel.stripboek_id">Bekijk stripboek</a>
            </div>
        </div>
    }
</div>
</body>