@page
@using WebDevProject.Models
@using MySqlX.XDevAPI
@using Newtonsoft.Json
@model WebDevProject.Pages.Collectie.Toevoegen

<head>
    <title>Boek toevoegen</title>
</head>
<body>
<div>
    <h1>Boek aan collectie toevoegen</h1>
</div>
@* <span class="alert-danger">@Model.errormessage</span> *@
@* @if (Model.StripboekId == 0) *@
@* { *@
@*     <div class="mb-5"> *@
@*         <form asp-page-handler="Stripboek" method="post"> *@
@*             <input hidden value="@Model.GebruikerId" name="@Model.GebruikerId"/> *@
@*             <label class="form-label mb-1">Kies een stripboek om toe te voegen</label> *@
@*             <div class="input-group mb-3"> *@
@*                 <select class="form-select mb-3" name="stripboekId"> *@
@*                     <option disabled>Kies een stripboek</option> *@
@*                     @foreach (var stripboek in Model.Stripboeken) *@
@*                     { *@
@*                         <option value="@stripboek.StripboekId">@stripboek.stripboektitel</option> *@
@*                     } *@
@*                 </select> *@
@*             </div> *@
@*             <button class="btn btn-primary" type="submit">Boek kiezen</button> *@
@*         </form> *@
@*     </div> *@
@* } *@

<div class="form-control">
        <form method="post">
            <label class="form-label mb-1">Druknummer</label>
            <select class="form-select mb-3" asp-for="wordtOpgeslagenInCollectieVanModel.druk_id">
                <option disabled>Kies een druk</option>
                @foreach (var item in Model.Drukken)
                {
                    <option value="@item.drukId">@item.druknummer</option>
                }
            </select>
            <label class="form-label mb-1" asp-for="wordtOpgeslagenInCollectieVanModel.staat"></label>
            <div class="input-group mb-3">
                <input class="form-control" type="text" asp-for="wordtOpgeslagenInCollectieVanModel.staat"/>
            </div>
            <label class="form-label mb-1" asp-for="wordtOpgeslagenInCollectieVanModel.aankoop_locatie"></label>
            <div class="input-group mb-3">
                <input class="form-control" type="text" asp-for="wordtOpgeslagenInCollectieVanModel.aankoop_locatie"/>
            </div>
            <label class="form-label mb-1" asp-for="wordtOpgeslagenInCollectieVanModel.aankoop_waarde"></label>
            <div class="input-group mb-3">
                <input class="form-control" type="decimal" asp-for="wordtOpgeslagenInCollectieVanModel.aankoop_waarde"/>
            </div>
            <label class="form-label mb-1" asp-for="wordtOpgeslagenInCollectieVanModel.beoordeling"></label>
            <div class="input-group mb-3">
                <select class="form-select" asp-for="wordtOpgeslagenInCollectieVanModel.beoordeling">
                    <option value="">Geen beoordeling</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Toevoegen</button>
        </form>
    </div>

</body>